// override bulma colors and variables
$blue: #1E6CBA; // #1650AC;
$darkBlue: #182E51;
$lightBlue: #c3ebfa; // #00B0E6;
$green: #3AA02B;
$greenContrast: #008A17;
$gray: #E6E6E6;
$red: #d83933;

$primary: $lightBlue;
$success: $green;
$info: $blue;
$dark: $darkBlue;
$danger: $red;
